.fileIcon{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 60px;
}

.AVI,.avi{
    background-image: url("/img/icon/AVI.png");
}
.BMP, .bmp{
    background-image: url("/img/icon/BMP.png");
}

.CSS, .css{
    background-image: url("/img/icon/CSS.png");
}

.CSV, .csv{
    background-image: url("/img/icon/CSV.png");
}

.DEFAULT, .default{
    background-image: url("/img/icon/DEFAULT.png");
}

.DOCX, .docx{
    background-image: url("/img/icon/DOCX.png");
}

.DOC, .doc{
    background-image: url("/img/icon/DOC.png");
}

.DWG, .dwg{
    background-image: url("/img/icon/DWG.png");
}

.FLA, .fla{
    background-image: url("/img/icon/FLA.png");
}

.GIF, .gif{
    background-image: url("/img/icon/GIF.png");
}

.HTM, .htm{
    background-image: url("/img/icon/HTM.png");
}
.HTML, .html{
    background-image: url("/img/icon/HTML.png");
}

.JPEG, .jpeg{
    background-image: url("/img/icon/JPEG.png");
}

.JPG, .jpg{
    background-image: url("/img/icon/JPG.png");
}

.MDB, .mdb{
    background-image: url("/img/icon/MDB.png");
}

.MIDI, .midi{
    background-image: url("/img/icon/MIDI.png");
}

.MKV, .mkv{
    background-image: url("/img/icon/MKV.png");
}

.MOV, .mov{
    background-image: url("/img/icon/MOV.png");
}

.MP3, .mp3{
    background-image: url("/img/icon/MP3.png");
}
.MP4, .mp4{
    background-image: url("/img/icon/MP4.png");
}
.MPG, .mpg{
    background-image: url("/img/icon/MPG.png");
}
.ODBC, .odbc{
    background-image: url("/img/icon/ODBC.png");
}

.OGG, .ogg{
    background-image: url("/img/icon/OGG.png");
}
.PDF, .pdf{
    background-image: url("/img/icon/PDF.png");
}
.PHP, .php{
    background-image: url("/img/icon/PHP.png");
}

.PNG, .png{
    background-image: url("/img/icon/PNG.png");
}

.PPS, .pss{
    background-image: url("/img/icon/PPS.png");
}

.PPSX, .ppsx{
    background-image: url("/img/icon/PPSX.png");
}

.PPT, .ppt{
    background-image: url("/img/icon/PPT.png");
}

.PPTX, .pptx{
    background-image: url("/img/icon/PPTX.png");
}

.PSD, .psd{
    background-image: url("/img/icon/PSD.png");
}
.RAR, .rar{
    background-image: url("/img/icon/RAR.png");
}
.REG, .reg{
    background-image: url("/img/icon/REG.png");
}
.RTF, .rtf{
    background-image: url("/img/icon/RTF.png");
}
.SQL, .sql{
    background-image: url("/img/icon/SQL.png");
}
.SWF, .swf{
    background-image: url("/img/icon/PPSX.SWF");
}
.TAR, .tar{
    background-image: url("/img/icon/TAR.png");
}
.TIF, .tif{
    background-image: url("/img/icon/TIF.png");
}
.TIFF, .tiff{
    background-image: url("/img/icon/TIFF.png");
}
.TTF, .ttf{
    background-image: url("/img/icon/TTF.png");
}
.TXT, .txt{
    background-image: url("/img/icon/TXT.png");
}
.WAV, .waw{
    background-image: url("/img/icon/WAV.png");
}
.WMA, .wma{
    background-image: url("/img/icon/WMA.png");
}
.WMV, .wmv{
    background-image: url("/img/icon/WMV.png");
}
.XLS, .xls{
    background-image: url("/img/icon/XLS.png");
}
.XLSX, .xlsx{
    background-image: url("/img/icon/XLSX.png");
}

.XML, .xml{
    background-image: url("/img/icon/XML.png");
}

.ZIP, .zip{
    background-image: url("/img/icon/ZIP.png");
}
.JAVA, .java{
    background-image: url("/img/icon/JAVA.png");
}
.JS, .js{
    background-image: url("/img/icon/JS.png");
}























